.board-info {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
}

.board-options {
    float: right;
}

.deck {
    width: 300px;
    float: left;
    background: none repeat scroll 0% 0% rgb(219, 219, 219);
    margin: 0px 0px;
    margin-left: 8px;
    border-radius: 3px;
    padding: 4px 3px 3px;
    overflow-y: visible;
    position: relative;
}

.deck-menu {
    left: 50px;
    width: 200px;
}

.card {
    border-radius: 3px;
    word-wrap: break-word;
    overflow-x: visible;
    width: 100%;
    margin: 3px;
    box-shadow: 1px 1px 1px #b7b7b7;
}

.card-placeholder {
    margin-bottom: 3px;
    border-radius: 3px;
    word-wrap: break-word;
    overflow-x: visible;
    width: 100%;
    opacity: 0.8;
}

.card:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.icon {
    color: #7A7A7A;
}

.icon:hover {
    color: black;
}

.deckName {
    padding: 3px 26px 2px 6px;
}

.loginPageButtons {
    margin-top: 20px;
}

.loginForm {
    background: rgba(224, 224, 224, 0.65);
    border: 4px solid black;
    border-radius: 15px;
}

.new-deck {
    float: left;
    left: 200px;
    padding-left: 6px;
}

.sort {
    min-height: 10px;
}

.entity-menu {
    max-width: 100px;
}

.dropDownContainer {
    display: inline;
    float: right;
}

.right-menu {
    max-width: 100px;
}

.canvas {
    overflow: hidden;
}

.card-list {
    overflow: visible;
    overflow-y: auto;
}

.card-title {
    width: 90%;
}

.signUpAnchor {
    padding-left: 40px;
}

.my-board {
    background: rgba(214, 211, 211, 0.70);
    height: 100px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 3px 1px;
}

.my-board:hover {
    cursor: pointer;
    background-color: rgba(214, 211, 211, 1);;
}

.add-board {
    margin-top: 12px;
}

.board-row {
    margin-top: 20px;
}

.modal-dialog {
    width: 600px;
}

.card-action-button {
    min-width: 100%;
    height: 35px;
    margin-bottom: 5px;
}

.card-actions-container {
    padding-top: 10px;
}

.card-modal-container {
    background: #f0f0f0;
    width: 600px;
}

/* --- nav related --- */
.navbar .navbar-form {
    padding: 0 15px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* --- global styles ---  */
body {
    background-color: #23719f;
}

/* --- board related --- */
.board-name-container {
    font-size: 24px !important;
    font-style: oblique;
    color: #dddddd;
    font: Consolas, "Liberation Mono", Courier, monospace;
}

/* --- deck related --- */

.add-card-container {
    margin: 1em;
}

.new-deck-input-container {
    display: inline-block;
    width: 60%;
}

.card-filter-container {
    display: inline-block;
    width: 15%;
    border-radius: 3em;
    margin-left: 2.8em;
}

/* --- search related --- */
.search-wrapper {
    width: 30%;
}

.global-filter-container {
    display: inline-block;
    width: 15%;
    border-radius: 3em;
    margin-left: 2em;
}

/* --- checklist related --- */

.checklist-item-container {
    background: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #b9b9b9;
    border-bottom-color: #999;
    border-top-color: #ccc;
    font-weight: bold;
    /*position: absolute;*/
    left: 8px;
    line-height: 16px;
    overflow: hidden;
    text-align: center;
    text-indent: 100%;
    top: 0;
    height: 16px;
    width: 16px;
    white-space: nowrap;
}

.checklist-item-checkbox.enabled:active {
    background-color: #bbb;
    border: 1px solid #777;
    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.15);
    color: #393939;
    text-indent: 0
}

.checklist-item-checkbox.enabled:hover {
    background-color: #ddd;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #939393;
    cursor: pointer;
    text-indent: 0
}

.checklist-item-checkbox:hover {
    border: 1px solid #b9b9b9;
    border-bottom-color: #ccc;
    border-top-color: #999
}

.item-name-container {
    display: inline-block;
    margin-top: 1em !important;
    font-size: 18px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

.item-name-container:hover {
    cursor: pointer;
}

.item-name-edit-container {
    display: inline-block;
    margin-top: 1em !important;

    font-family: Consolas, "Liberation Mono", Courier, monospace;
    width: 50%;
}

/* --- label related --- */

.label-panel {

}

.label-container {
    display: inline-block;
    width: 10%;
    height: 5%;
    /*box-shadow: 5px 5px 2px #888888;*/
}

.label-title {
    /*box-shadow: 3px 3px 1px #a3a3a3;*/
}

/* --- from trello core.css --- */
.card-label {
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-right: 3px;
    padding: 3px 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6)
}

.card-label-green {
    background-color: #34b27d;
    display: inline-block;
}

.card-label-yellow {
    background-color: #dbdb57;
    display: inline-block;
}

.card-label-orange {
    background-color: #e09952;
    display: inline-block;
}

.card-label-red {
    background-color: #cb4d4d;
    display: inline-block;
}

.card-label-purple {
    background-color: #93c;
    display: inline-block;
}

.card-label-blue {
    background-color: #4d77cb;
    display: inline-block;
}

/*.card-description {*/
/*width: 400px;*/
/*}*/

.checklist-item-checkbox {
    background: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #b9b9b9;
    border-bottom-color: #999;
    border-top-color: #ccc;
    font-weight: bold;
    position: absolute;
    left: 8px;
    line-height: 16px;
    overflow: hidden;
    text-align: center;
    text-indent: 100%;
    top: 0;
    height: 16px;
    width: 16px;
    white-space: nowrap
}

.checklist-item-checkbox.enabled:hover {
    background-color: #ddd;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #939393;
    cursor: pointer;
    text-indent: 0
}

.checklist-item-checkbox.enabled:active {
    background-color: #bbb;
    border: 1px solid #777;
    -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.15);
    color: #393939;
    text-indent: 0
}

.checklist-item-state-complete{
    color: #939393;
    font-style: italic;
    text-decoration: line-through
}

.checklist-item-state-complete img {
    opacity: .3
}

.checklist-item-state-complete .checklist-item-checkbox {
    background-color: #f3f3f3;
    border: 1px solid #b9b9b9;
    border-bottom-color: #ccc;
    border-top-color: #999;
    -webkit-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    text-indent: 0
}

.checklist-new-item.focus .checklist-new-item-text, .checklist-new-item.focus .checklist-new-item-text:hover {
    background: #fff;
    border-color: #2b7cab;
    -webkit-box-shadow: 0 0 3px #2b7cab;
    box-shadow: 0 0 3px #2b7cab;
    color: #393939;
    cursor: text;
    height: 68px;
    resize: vertical
}

.board-user{
    background-color: #939393;
    border-radius: 5px 5px 5px 5px;
    line-height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 0;
    text-align: center;
}

.board-user-container{
    padding-right: 8px;
    padding-left: 8px;
}




