.board-info {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
}

.board-options {
    float: right;
}

.deck {
    width: 300px;
    float: left;
    background: none repeat scroll 0% 0% rgb(219, 219, 219);
    margin: 0px 0px;
    margin-left: 8px;
    border-radius: 3px;
    padding: 4px 3px 3px;
    overflow-y: visible;
    position: relative;
}

.deck-menu {
    left: 50px;
    width: 200px;
}

.card {
    margin-bottom: 3px;
    border-radius: 3px;
    word-wrap: break-word;
    overflow-x: visible;
    width: 100%;
}

.card-placeholder {
    margin-bottom: 3px;
    border-radius: 3px;
    word-wrap: break-word;
    overflow-x: visible;
    width: 100%;
    opacity: 0.8;
}

.card:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.icon {
    color: #7A7A7A;
}

.icon:hover {
    color: black;
}

.deckName {
    padding: 3px 26px 2px 6px;
}

.loginPageButtons {
    margin-top: 20px;
}

.loginForm {
    background: rgba(224, 224, 224, 0.65);
    border: 4px solid black;
    border-radius: 15px;
}

.new-deck {
    float: left;
    left: 200px;
    padding-left: 6px;
}

.sort {
    min-height: 10px;
}

.entity-menu {
    max-width: 100px;
}

.dropDownContainer {
    display: inline;
    float: right;
}

.right-menu {
    max-width: 100px;
}

.canvas {
    overflow: hidden;
}

.card-list {
    overflow: visible;
    overflow-y: auto;
}

.card-title {
    width: 90%;
}

.signUpAnchor {
    padding-left: 40px;
}

.my-board {
    background: rgba(214, 211, 211, 0.70);
    height: 100px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 3px 1px;
}

.my-board:hover {
    cursor: pointer;
    background-color: rgba(214, 211, 211, 1);;
}

.add-board {
    margin-top: 12px;
}

.board-row {
    margin-top: 20px;
}

.modal-dialog {
    width: 600px;
}

.card-action-button {
    min-width: 100%;
    height: 35px;
    margin-bottom: 5px;
}

.card-actions-container {
    padding-top: 10px;
}

.card-modal-container {
    width: 600px;
}

/* --- nav related --- */
.navbar .navbar-form {
    padding: 0 15px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* --- search related --- */
.search-wrapper {
    width: 30%;
}

/* --- label related --- */

.label-panel {
 position: relative;
}

.label-container {
    width: 10%;
    height: 5%;
    /*box-shadow: 5px 5px 2px #888888;*/
}

.label-title {
    /*box-shadow: 3px 3px 1px #a3a3a3;*/
}

.green-label-style {
    background: #328432;
}

.yellow-label-style {
    background: #ffff93;

}

.orange-label-style {
    background: #ffb732;

}

.red-label-style {
    background: #ff3232;

}

.purple-label-style {
    background: #a64ca6;

}

.blue-label-style {
    background: #8181ff;

}

/*.card-description {*/
/*width: 400px;*/
/*}*/
