<div class="card-modal-container container">
    <div class="row">
        <div class="col-md-9">

            <!-- header section -->
            <div class="card-header">
                <h2>{{card.title}}</h2>
            </div>

            <!-- description section -->
            <card-description-section></card-description-section>

            <!-- member section -->
            <card-members-section members="card.members"></card-members-section>

            <!-- labels section -->
            <card-label-section></card-label-section>

            <!-- checklists section -->
            <card-checklist-section></card-checklist-section>

        </div>

        <!-- action section -->
        <card-action-section></card-action-section>

    </div>
    <div class="row">
        <!-- activity section -->
        <card-activity-section context='card' activities="card.activities"
                               card="card">
        </card-activity-section>
    </div>
</div>
