<div class="card-modal-container container">
    <div class="row">
        <div class="col-md-9">

            <!-- header section -->
            <div class="card-header">
                <h2>{{card.title}}</h2>
            </div>

            <!-- description section -->
            <card-description-section></card-description-section>

            <!-- member section -->
            <card-members-section members="card.members"></card-members-section>

            <!-- labels section -->
            <!-- TODO : add labels to MongoDB (currently hard coded) -->
            <card-label-section></card-label-section>

            <!-- checklists section -->
            <!-- TODO : add checklist to MongoDB (currently hard coded) -->
            <card-checklist-section></card-checklist-section>

            <!-- activity section -->
            <!-- TODO : add activities to MongoDB (currently hard coded) -->
            <card-activity-section context = 'card' active-user="activeUser" activities="card.activities" card="card"></card-activity-section>

        </div>

        <!-- action section -->
        <card-action-section></card-action-section>

    </div>
</div>
