<div ng-if="card.labels.length > 0">
    <pre class="section-title"> Labels </pre>
    <div class="label-panel-container">
        <div ng-repeat="label in card.labels track by label.color">
            <span><div id="labelTarget{{$index}}" class="card-label card-label-{{label.color}}"
                       title="{{getLabelTitle(label)}}" ng-click="handleLabelSelection(label)">
                <div ng-if="label.title.length > 0" class="card-label-title">
                    {{ label.title }}
                </div>
                <div ng-if="label.title.length === 0">
                    &nbsp;
                </div>
            </div></span>

            <popstar ng-if='label.selected' show-popstar-value="label.selected" popstar-id="cardLabelEditorDialog"
                     target-id="labelTarget0" popstar-title="Change Labels">

                <label-editor labels="boardLabels" card-labels="card.labels"></label-editor>
            </popstar>

        </div>

        <a id="addLabelBtn" class="item-add-button" ng-href="#" ng-click="toggleLabelEditorView()">
            <span class="glyphicon glyphicon-plus"></span>
        </a>

        <popstar ng-if='showLabelEditor' show-popstar-value="showLabelEditor" popstar-id="cardLabelEditorDialog"
                 target-id="addLabelBtn" popstar-title="Change Labels">

            <label-editor labels="boardLabels" card-labels="card.labels"></label-editor>
        </popstar>

    </div>
</div>
