<div class="card-section-divider">
    <span class="glyphicon glyphicon-align-left"></span>

    <div class="acitivty-section-title">
        Activity
    </div>
</div>

<div class="new-comment-section" ng-show="context === 'card'">

    <member context='activity' member-style='weak-opacity' user='activeUser'></member>

    <add-component edited-input="comment" input-style="textarea" text-area-rows="2" on-save-title="comment"
                   trigger-title="Write a comment.."
                   close-on-save="true" trigger-style-container="new-comment-input"
                   callback-function="addActivityComment(comment)">
    </add-component>
</div>

<div class="activities-container fancy-scrollbar" ng-style="{height : fixedHeight}">
    <div ng-repeat="activity in activities | orderBy:'date':true">

        <member context="activity" user="activity.initiator"></member>

        <div class="activity-container">
            <card-activity></card-activity>
        </div>
    </div>
</div>

</div>
