<div class="col-md-3">
    <div class="card-actions-container">

        <!-- Add section -->
        <h4>Add</h4>

        <!-- new card member button -->
        <div id="memberEditorBtn">
            <a href="#" class="button-link" ng-click="toggleMemberEditor()">
                <span class="spanned-icon glyphicon glyphicon-user"></span> Members
            </a>
        </div>

        <popstar ng-if='showMemberEditor.value' show-popstar-value="showMemberEditor.value" popstar-id="cardMembersDialog"
                 target-id="memberEditorBtn" popstar-class="member-editor-popover" popstar-title="Members">
            <member-editor members="board.members" card-members="card.members"></member-editor>
        </popstar>

        <!-- handle checklist editor -->
        <div id="checklistEditorBtn">
            <a href="#" class="button-link" ng-click="toggleChecklistEditor()">
                <span class="spanned-icon glyphicon glyphicon-th-list"></span> Checklist
            </a>
        </div>


        <popstar ng-if='showChecklistEditor.value' show-popstar-value="showChecklistEditor.value"
                 popstar-id="newChecklistDialog" target-id="checklistEditorBtn" popstar-title="Add Checklist">

            <checklist-editor card="card" close-editor="toggleChecklistEditor(forceToggle)"></checklist-editor>

        </popstar>

        <!-- handle label editor -->
        <div id="labelEditorBtn">
            <a href="#" class="button-link" ng-click="toggleLabelEditorDialog()">
                <span class="spanned-icon glyphicon glyphicon-tag"></span> Labels
            </a>
        </div>

        <popstar ng-if='showLabelEditor.value' show-popstar-value="showLabelEditor.value" popstar-id="cardLabelEditorDialog"
                 target-id="labelEditorBtn" popstar-title="Change Labels">

            <label-editor labels="board.labels" card-labels="card.labels"></label-editor>

        </popstar>

        <!-- handle due date editor -->
        <div id="dueDateBtn">
            <a href="#" class="button-link" ng-click="toggleDueDateEditor()">
                <span class="spanned-icon glyphicon glyphicon-time"></span> Due date
            </a>
        </div>

        <popstar ng-if='showDueDateEditor.value' show-popstar-value="showDueDateEditor.value" popstar-id="dueDateDialog"
                 target-id="dueDateBtn" popstar-title="Change Due Date" popstar-max-width="320"
                 popstar-class="due-date-popover">

            <due-date-editor card="card" close-editor="toggleDueDateEditor(forceToggle)"></due-date-editor>

        </popstar>

    </div>
    <div class="card-actions-container">

        <!-- Actions section -->
        <h4>Actions</h4>

        <!-- move button -->
        <div id="moveBtn">
            <a href="#" class="button-link" ng-click="togglePositionEditor()">
                <span class="spanned-icon glyphicon glyphicon-arrow-right"></span> Move
            </a>
        </div>

        <popstar ng-if='showPositionEditor.value' show-popstar-value="showPositionEditor.value" popstar-id="positionDialog"
                 target-id="moveBtn" popstar-title="Move Card" popstar-max-width="300">

            <position-editor></position-editor>

        </popstar>

        <!-- subscribe button -->
        <div id="subscribeBtn">
            <a href="#" class="button-link" ng-click="toggleSubscription()">
                <span ng-class="{'glyphicon-eye-open': subscribed,'glyphicon-eye-close':!subscribed}"
                      class="spanned-icon glyphicon"></span>

                <span ng-if="!subscribed">
                    Subscribe
                </span>

                <span ng-if="subscribed">
                    Subscribed
                </span>
            </a>
        </div>

        <!-- archive button -->
        <div id="archiveBtn">
            <a href="#" class="button-link" ng-click="archiveCard()">
                <span class="spanned-icon glyphicon glyphicon-book"></span> Archive
            </a>
        </div>
    </div>
</div>
