<div ng-repeat="checklist in card.checklists track by checklist.title">

    <div class="checklist-title-container">
        <pre class="section-title"> <span class="glyphicon glyphicon-th-list"></span> {{ checklist.title }} </pre>
    </div>

    <div collapse="checklist.completed === 0" ng-init="updateCompleted(checklist)">
        <progressbar class="progress-striped"
                     value="checklist.completed"
                     type="{{checklist.progressBarType}}">
            {{checklist.completed | number:1}}%
        </progressbar>
    </div>


    <div ng-repeat="item in checklist.items">

        <checklist-item item="item" checklist="checklist" item-name-save="handleItemNameSave(item)"
                        update-completed="updateCompleted(checklist)"
                        item-value-save="handleItemValueSave(item)">
        </checklist-item>

    </div>

    <add-component edited-input="newItemName" input-style="textarea" trigger-title="Add item.." init-edit-mode="checklist.completed === 0"
                   on-save-title="save" close-on-save="false" placeholder-value="item description"
                   callback-function="addChecklistItem(checklist,newItemName)">
    </add-component>

</div>
