<div class="col-md-3">
    <div class="card-actions-container">

        <!-- Add section -->
        <h4>Add</h4>
        <!-- TODO : should open a popup open for checklist title (this is just temporary for test) -->
        <!-- handle checklist editor -->

        <!-- new card member button -->
        <div id="cardMembersBtn">
            <a href="#" class="button-link" ng-click="toggleCardMembersDialog()">
                <span class="spanned-icon glyphicon glyphicon-user"></span> Members
            </a>
        </div>

        <popstar ng-if='showCardMembersDialog' show-popstar-value="showCardMembersDialog" popstar-id="cardMembersDialog"
                 target-id="cardMembersBtn">
            <input type="text" class="form-control" ng-model="memberToAdd" placeholder="member name"
                   typeahead="member as member.name for member in getMembers($viewValue)"
                   typeahead-min-length="2" typeahead-on-select="acceptMember()">

            {{memberToAdd}}
        </popstar>

        <!-- new checklist button button -->
        <div id="newChecklistBtn">
            <a href="#" class="button-link" ng-click="toggleNewChecklistDialog()">
                <span class="spanned-icon glyphicon glyphicon-th-list"></span> Checklist
            </a>
        </div>


        <popstar ng-if='showNewChecklistDialog' show-popstar-value="showNewChecklistDialog" popstar-id="newChecklistDialog"
                 target-id="newChecklistBtn" popstar-title="Add Checklist">

            <checklist-editor></checklist-editor>

        </popstar>

        <!-- handle label editor -->
        <div ng-init="newLabelMode = false">

            <div id="newLabelBtn">
                <a href="#" class="button-link" ng-click="newLabelMode = !newLabelMode">
                    <span class="spanned-icon glyphicon glyphicon-tag"></span> Labels
                </a>
            </div>
            <div ng-show="newLabelMode">
                <!-- TODO : label editor should be a directive -->
            </div>
        </div>

        <popstar ng-if='newLabelMode' show-popstar-value="newLabelMode" popstar-id="newLabelDialog"
                 target-id="newLabelBtn" popstar-title="Change Labels">

            <label-editor labels="boardLabels" card-labels="card.labels"></label-editor>

        </popstar>


        <!-- Actions section -->
        <h4>Actions</h4>
        <!-- TODO : actions are hard coded, should be in a seperate controller (or a global service) -->
        <button type="button" class="btn btn-default card-action-button">Action 1</button>
        <button type="button" class="btn btn-default card-action-button">Action 2</button>
        <button type="button" class="btn btn-default card-action-button">Action 3</button>
    </div>
</div>
