<div class="member-input-container">
    <input type="text" class="form-control" ng-model="memberToAdd" placeholder="member name"
           typeahead="member as member.name for member in members" focus-me="memberInputFocused"
           typeahead-min-length="2" typeahead-on-select="handleMemberAddition($item)">
</div>

<!-- member add button -->
<button ng-if="memberAddMode" class="btn btn-primary" ng-click="addAsCardMember(memberToAdd)">
    add
</button>

<!-- member remove button -->
<button ng-if="memberRemoveMode" class="btn btn-danger" ng-click="removeFromCardMembers(memberToAdd)">
    remove
</button>
