<div ng-show="!editMode && triggerTitle.length > 0">
    <a class="{{triggerStyleContainer}}" ng-href="#" ng-click="switchToEditMode()">
        {{ triggerTitle }}
    </a>
</div>

<div ng-show="editMode">
    <form name="editForm">
        <div ng-class="{'has-error' : editForm.editInput.$invalid, 'edit-input-container' : true}">

            <input type="text" ng-show="inputStyle === 'text'" class="form-control add-component-input-container" ng-disabled="inputDisabled"
                   name="editInput" focus-me="inputFocused" on-enter="handleSave()" placeholder="{{placeholderValue}}"
                   required ng-model="editedInput" ng-blur="handleBlur()" on-escape="handleEscape()"/>

            <textarea ng-show="inputStyle === 'textarea'" class="form-control add-component-input-container" auto-grow style="overflow:hidden" ng-disabled="inputDisabled"
                      rows="{{textAreaRows}}" name="editInput" focus-me="inputFocused" required placeholder="{{placeholderValue}}"
                      ng-model="editedInput" ng-blur="handleBlur()" on-escape="handleEscape()">
            </textarea>

        </div>
    </form>

    <div class="add-component-action-bar-container">
        <input type="button" class="btn btn-primary" value="{{onSaveTitle}}"
               ng-click="handleSave()" ng-disabled="editForm.editInput.$invalid">
        <a ng-href="#" ng-click="handleClose()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>

</div>
