<div class="board-info container-fluid">
    <div class="row">
        <div class="col-lg-2">{{board.name}}</div>

        <div class="col-lg-offset-10">
            <button type="button" class="btn-default" ng-click="addMemberClicked()">add members</button>
            <input type="text" ng-model="memberToAdd" placeholder="enter member name" ng-show="isMemberAdderOpen" typeahead="member as member.name for member in getMembers($viewValue)}">

        </div>
    </div>
</div>
<div id='canvas' class="canvas" ng-style="{width: canvasWidth + 'px'}">
    <div ng-repeat="deck in board.decks | filter:{isArchived:false}"  >
         <deck></deck>
    </div>
    <div class="new-deck">
        <input type="text" ng-model="newDeckName"/>
        <input type="button" value="Add List" ng-click="createNewDeck()">
    </div>
    <div collapse="isCollapsed" class="collapse">
        <div>hidden content</div>
    </div>
</div>
