<div class="card list-group-item">
                        <span class="dropDownContainer dropdown" uplevel>
                                <span class="glyphicon glyphicon-download icon" data-toggle="dropdown"></span>
                                <ul class="dropdown-menu dropdown-menu-right entity-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action2</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action3</a></li>
                                </ul>
                            </span>
    <p class="card-title">{{card.title}}</p>
</div>