<div class="card-modal-container container">
    <div class="row">
        <div class="col-md-9">
            <div class="card-header">
                <h2>{{card.title}}</h2>
            </div>
            <div class="card-description">
                <h4>Description</h4>
                <p>{{card.description}}</p>
            </div>
            <div class="card-comments">
                <h4>Comments</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-actions-container">
                <h4>Actions</h4>
                <button type="button" class="btn btn-default card-action-button">Action 1</button>
                <button type="button" class="btn btn-default card-action-button">Action 2</button>
                <button type="button" class="btn btn-default card-action-button">Action 3</button>
            </div>
        </div>
    </div>
</div>