<div class="card-modal-container container">
    <div class="row">
        <div class="col-md-9">

            <!-- header section -->
            <div class="card-header">
                <h2>{{card.title}}</h2>
            </div>

            <!-- description section -->
            <div class="card-description">
                <h2>Description</h2>

                <!--<p>{{card.description}}</p>-->

                <add-component edited-input="card.description" input-style="textarea" text-area-rows="4"
                               trigger-title="Edit description.." on-save-title="save" close-on-save="true"
                               sticky-title="true"
                               trigger-style-container="card-description-container"
                               callback-function="updateCardDescription(card)">
                </add-component>

            </div>


            <!-- labels section -->
            <div ng-if="card.labels.length > 0">
                <pre> Labels </pre>
                <div ng-repeat="label in card.labels track by label.color">
                    <div class="card-label">
                        <div class="card-label-{{label.color}}">
                            <p class="label-title"> {{ label.title }} </p>
                        </div>
                    </div>
                </div>

                <a class="label-container" ng-href="#" ng-click="">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>

            <!-- checklists section -->
            <!-- TODO : should be a seperate directive for a checklist -->
            <!-- TODO : add checklist to MongoDB (currently hard coded) -->
            <div ng-repeat="checklist in card.checklists track by checklist.title">

                <div class="checklist-title-container">
                    <pre> <span class="glyphicon glyphicon-th-list"></span> {{ checklist.title }} </pre>
                </div>

                <progressbar ng-class="{'collapse': checklist.completed === 0,'collapse in' : checklist.completed > 0}"
                             class="progress-striped"
                             value="checklist.completed"
                             type="{{checklist.progressBarType}}">
                    {{checklist.completed | number:1}}%
                </progressbar>


                <div ng-repeat="item in checklist.items">

                    <checklist-item item="item" checklist="checklist" item-name-save="handleItemNameSave(item)"
                                    update-completed="updateCompleted(checklist)"
                                    item-value-save="handleItemValueSave(item)">
                    </checklist-item>

                </div>

                <div class="list-group-item">

                    <add-component edited-input="newItemName" input-style="textarea" trigger-title="Add item"
                                   on-save-title="save" close-on-save="false"
                                   callback-function="addChecklistItem(card,checklist,newItemName)">
                    </add-component>

                </div>
            </div>

            <!-- activity section -->
            <div class="card-section-divider">
                <span class="glyphicon glyphicon-align-left"></span>

                <div class="card-section-title">
                    Activity
                </div>
            </div>

            <div class="new-comment-section">
                <div class="member">
                    <div class="member-initials weak-opacity">
                        {{ activeUser.initials }}
                    </div>
                </div>

                <add-component edited-input="comment" input-style="textarea" text-area-rows="2" on-save-title="comment"
                               trigger-title="Write a comment.."
                               close-on-save="true" trigger-style-container="new-comment-input"
                               callback-function="addActivityComment(card,comment)">
                </add-component>
            </div>

            <!-- list all activities (comment and regular) in reverse creation time order -->
            <div ng-repeat="activity in card.activities | orderBy:'date':true">
                <div class="member">
                    <div class="member-initials">
                        {{ activity.initiator.initials }}
                    </div>
                </div>

                <div class="activity-container">
                    <card-activity></card-activity>
                </div>

            </div>


            <!-- comments section -->
            <div class="card-comments">
                <h4>Comments</h4>

                <div ng-repeat="comment in card.comments">
                    {{comment.content}}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-actions-container">

                <!-- Add section -->
                <h4>Add</h4>
                <!-- TODO : should open a popup open for checklist title (this is just temporary for test) -->
                <!-- handle checklist editor -->
                <div ng-init="newChecklistMode = false">

                    <button type="button" class="btn btn-default card-action-button"
                            ng-click="newChecklistMode = !newChecklistMode">
                        <span class="glyphicon glyphicon-th-list"></span>
                        Checklist
                    </button>

                    <div ng-show="newChecklistMode">
                        <input type="text" class="form-control" ng-model="newChecklistTitle"/>
                        <input type="button"
                               class="btn btn-default"
                               value="add"
                               ng-click="addChecklist(card,newChecklistTitle);newChecklistMode = false; newChecklistTitle = '';">
                        <a ng-href="#" ng-click="newChecklistTitle = ''; newChecklistMode = false;">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>


                </div>

                <!-- handle label editor -->
                <div ng-init="newLabelMode = false">
                    <button type="button" class="btn btn-default card-action-button"
                            ng-click="newLabelMode = !newLabelMode">
                        <span class="glyphicon glyphicon-tag"></span>
                        Label
                    </button>
                    <div ng-show="newLabelMode">
                        <!-- TODO : label editor should be a directive -->

                        <div ng-repeat="label in card.labels track by label.color">

                        </div>

                        <a ng-href="#" ng-click="newLabelMode = false;">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </div>

                <!-- Actions section -->
                <h4>Actions</h4>
                <!-- TODO : actions are hard coded, should be in a seperate controller (or a global service) -->
                <button type="button" class="btn btn-default card-action-button">Action 1</button>
                <button type="button" class="btn btn-default card-action-button">Action 2</button>
                <button type="button" class="btn btn-default card-action-button">Action 3</button>
            </div>
        </div>
    </div>
</div>
