<div class="container-fluid createUserForm col-lg-4 col-lg-offset-4">
    <div class="row">
        <h3>
            Create new account
        </h3>
    </div>

    <div class="row">
        <label>name</label>
    </div>
    <div class="row">
        <input type="text" ng-model="newUser.name"/>
    </div>

    <div class="row">
        <label>password</label>
    </div>
    <div class="row">
        <input type="password" ng-model="newUser.password"/>
    </div>

    <div class="row">
        <button class="btn-primary" ng-click="save()">Save</button>
    </div>
</div>