<div class="deck"
     ng-style="{'max-height': maxHeight + 'px', height: elementHeight}"
     ng-hide="filteredDeckCards.length === 0 && cardFilter.value.length > 0"
     resize>
    <div class="deck-top-part">
        <span class="dropDownContainer dropdown">
            <span class="glyphicon glyphicon-download icon" data-toggle="dropdown"></span>
            <ul class="dropdown-menu dropdown-menu-right entity-menu" role="menu">
                <li role="presentation" class="dropdown-header disabled"><a role="menuitem" tabindex="-1" href="#">List
                    Actions</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                           ng-click="archiveDeck(deck)">Archive</a></li>
            </ul>
        </span>

        <div class="deckName">
            {{deck.name}}
        </div>
    </div>
    <div class="list-group card-list dropdown" ng-style="{'max-height': (maxHeight - 60) + 'px'}" resize>
        <div class="sort" ui-sortable="sortableOptions" ng-model="deck.cards">
            <div ng-repeat="card in filteredDeckCards = (deck.cards | filter : {title : cardFilter.value})">
                <card></card>
            </div>
        </div>

         <!-- TODO : should be a reusable directive (also will be used in comments, checklists.. -->
        <div class="list-group-item" ng-init="newCardMode = false">

            <div class="card" ng-show="!newCardMode" ng-click="newCardMode = true">
                Add a card..
            </div>

            <div ng-show="newCardMode">
                <form name="cardForm">
                    <div ng-class="{'has-error' : cardForm.cardNameInput.$invalid}">
                        <textarea class="form-control"
                                  rows="2"
                                  name="cardNameInput"
                                  required
                                  ng-model="newCardTitle">
                        </textarea>
                    </div>
                </form>

                <input type="button"
                       class="btn btn-default"
                       value="save"
                       ng-click="createNewCard(deck, newCardTitle); newCardMode = false; newCardTitle = '';"
                       ng-disabled="cardForm.cardNameInput.$invalid">
                <a ng-href="#" ng-click="newCardTitle = ''; newCardMode = false">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>

            </div>
        </div>
    </div>
</div>
