<div class="container-fluid loginForm col-lg-4 col-lg-offset-4">
    <div class="row">
        <div class="col-lg-offset-5 col-lg-2">
            <h1>login</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-3 col-lg-3">
            <label class="label-info">name</label>
        </div>
        <div class="col-lg-6">
            <input class="input-sm" type="text" ng-model="user.name">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-3 col-lg-3">
            <label class="label-info">password</label>
        </div>
        <div class="col-lg-6">
            <input class="input-sm" type="password" ng-model="user.password">
        </div>
    </div>

    <div class="row loginPageButtons">
        <div class="col-lg-offset-5 col-lg-9">
            <button class="btn-default" ng-click="login()">login</button>
            <button class="btn-danger" ng-click="reset()">reset</button>
            <button class="btn-success" ng-click="create()">create</button>
        </div>
    </div>
</div>