<input type="text" id="searchBar" class="form-control search-bar-container" ng-blur="handleBlur()"
       placeholder="search for boards,cards and things" ng-model="searchQuery" focus-me="focusSearchInput"/>

<popstar ng-if='showSearchResults' show-popstar-value="showSearchResults" ng-mouseenter="handleSearchContentHoverOn()"
         ng-mouseleave="handleSearchContentHoverOff()" popstar-id="search" target-id="searchBar" match-target="true"
         popstar-class="search-bar-popover">

    <div>
        <h3 ng-show="searchQuery.length > 0 && (filteredBoards.length + filteredCards.length + filteredChecklists.length) === 0">
            No results found </h3>
    </div>
    <div class="search-result-container"
         ng-hide="searchQuery.length === 0 || (filteredBoards.length + filteredCards.length + filteredChecklists.length) === 0">

        <h3 ng-hide="filteredBoards.length === 0" class="search-section-container"> Boards </h3>

        <div ng-repeat="board in filteredBoards = (userBoards  | filter : {name : searchQuery} )">
            <div>
                <!-- TODO: should be minimized board directive linking to the board on click -->
                {{ board.name }}
            </div>
        </div>

        <h3 ng-hide="filteredCards.length === 0" class="search-section-container"> Cards </h3>

        <div ng-repeat="card in filteredCards = (userCards | filter : {title : searchQuery})">
            <div>
                <div class="quiet search-result-title">
                    in <strong>{{card.deckTitle}}</strong> on <strong>{{card.boardTitle}}</strong>
                </div>

                <card></card>
            </div>
        </div>

        <h3 ng-hide="filteredChecklists.length === 0" class="search-section-container"> Checklists </h3>

        <div ng-repeat="checklist in filteredChecklists = (userChecklists | filter : {title : searchQuery})">
            <div>
                <div class="quiet search-result-title">
                    from <strong>{{checklist.cardTitle}}</strong> in <strong>{{checklist.deckTitle}}</strong> on
                    <strong>{{checklist.boardTitle}}</strong>
                </div>
                <!-- TODO: should be checklist title linking to the card containing it on click -->
                {{ checklist.title }}
            </div>
        </div>
    </div>

</popstar>


