<div class="container-fluid">
    <div class="row">
        <h3>my boards</h3>
    </div>
    <div ng-repeat="board in boards">
    <span ng-switch on="$index % 4">
      <span ng-switch-when="0">
        <div class="row">
            <div class="col-md-3" ng-show="boards[$index + 0]">
                <div class="my-board col-md-10" ng-click="choseBoard(boards[$index + 0])">
                    {{boards[$index + 0].name}}
                </div>
            </div>
            <div class="col-md-3" ng-show="boards[$index + 1]">
                <div class="my-board col-md-10" ng-click="choseBoard(boards[$index + 1])">
                    {{boards[$index + 1].name}}
                </div>
            </div>
            <div class="col-md-3" ng-show="boards[$index + 2]" ng-click="choseBoard(boards[$index + 2])">
                <div class="my-board col-md-10">
                    {{boards[$index + 2].name}}
                </div>
            </div>
            <div class="col-md-3" ng-show="boards[$index + 3]" ng-click="choseBoard(boards[$index + 3])">
                <div class="my-board col-md-10">
                    {{boards[$index + 3].name}}
                </div>
            </div>
        </div>
      </span>
    </span>
    </div>
</div>
