@()
<!DOCTYPE html>
<html ng-app="taskimApp">
    <head>
        <title>Taskim</title>
        <link rel="stylesheet" href="assets/stylesheets/bootstrap.css"/>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/stylesheets/bootstrap-theme.css"/>
        <link rel="stylesheet" href="assets/stylesheets/main.css"/>
    </head>
    <body  ng-controller="loginCtrl">
        <div class="navbar navbar-default" role="navigation" bs-navbar>
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="/">Taskim</a>
            </div>
            <ul class="nav navbar-nav">
                <li data-match-route="/"><a ui-sref="/">Home</a></li>
                <li data-match-route="/menu"><a ui-sref="menu">Menu</a></li>
                <li data-match-route="/login"><a href="login">login</a></li>
                <li data-match-route="/board"><a ui-sref="board">test</a></li>
            </ul>
        </div>

        <div ui-view></div>

        <script src="assets/library/angular.js"></script>
        <script src="assets/library/angular-ui.js"></script>
        <script src="assets/library/angular-strap.js"></script>
        <script src="assets/library/lodash.js"></script>
        <script src="assets/library/restangular.js"></script>
        <script src="assets/library/jquery-1.11.0.js"></script>
        <script src="assets/library/bootstrap.js"></script>
        <script src="assets/app.js"></script>
        <script src="assets/javascripts/services/loggedUserService.js"></script>
        <script src="assets/javascripts/services/loginValidator.js"></script>
        <script src="assets/javascripts/services/boardManager.js"></script>
        <script src="assets/javascripts/controllers/loginCtrl.js"></script>
        <script src="assets/javascripts/controllers/boardCtrl.js"></script>
        <script src="assets/javascripts/controllers/userCtrl.js"></script>
    </body>
</html>

