@()
<!DOCTYPE html>
<html ng-app="taskimApp">
    <head>
        <title>Taskim</title>
        <link rel="stylesheet" href="assets/stylesheets/bootstrap.css"/>
        <link rel="stylesheet" href="assets/stylesheets/bootstrap-theme.css"/>
        <link rel="stylesheet" href="assets/stylesheets/main.css"/>
    </head>
    <body  ng-controller="loginCtrl">
        <div class="navbar navbar-default" role="navigation" bs-navbar>
            <div class="navbar-header">
                <a class="navbar-brand" href="">Taskim</a>
            </div>
            <ul class="nav navbar-nav">
                <li data-match-route="/"><a href="/">Home</a></li>
                <li data-match-route="/login"><a href="/login">login</a></li>
                <li data-match-route="/Boards"><a href="#" ng-click="getBoard()">test</a></li>
                <li data-match-route="page-two.*"><a href="/page-two/sub-a">Menu</a></li>
            </ul>
        </div>

        <div class="canvas">
            <div ng-repeat="deck in board.decks" class="deck">
                <div class="deckName">
                    {{deck.name}}
                </div>
                <div ng-repeat="card in deck.cards" class="card">
                    {{card.title}}
                </div>
            </div>

            <div ng-repeat="deck in board.decks" class="deck">
                <div class="deckName">
                  {{deck.name}}
                </div>
                <div ng-repeat="card in deck.cards" class="card">
                    {{card.title}}
                </div>
            </div>
        </div>

        <div ng-view></div>

        <script src="assets/library/jquery-1.9.0.min.js"></script>
        <script src="assets/library/angular.js"></script>
        <script src="assets/library/angular-route.js"></script>
        <script src="assets/library/angular-strap.js"></script>
        <script src="assets/app.js"></script>
        <script src="assets/javascripts/controllers/loginCtrl.js"></script>
    </body>
</html>

