<div id="sidebar" ng-show='ShowSidebar' class="sidebar">
    <a href="#" class="sidebar-hide-btn"
       title="close the board sidebar" ng-click="closeSidebar()">
        <span class="spanned-icon glyphicon glyphicon-play"></span>
    </a>

    <div class="sidebar-content">

        <div class="sidebar-section">
            <sidebar-menu></sidebar-menu>
        </div>

        <div class="sidebar-section">

            <h3>Members</h3>
             <div class="member-panel">
                <div ng-repeat="boardMember in activeBoard.members">
                    <span><member id='member{{$index}}' context="member-panel" user="boardMember"
                                  ng-click="toggleMemberInfo()"></member></span>
                </div>

                <popstar ng-if='showMemberInfo' show-popstar-value="showMemberInfo" popstar-offset="false"
                         popstar-id="member" popstar-max-width="100" target-id="member0">
                    <div>
                        {{ boardMember.name }}
                    </div>
                </popstar>
            </div>

            <div id="newMemberBtn">
                <a href="#" class="button-link" ng-click="toggleNewMemberDialog()">
                    <span class="spanned-icon glyphicon glyphicon-user"></span> Add Members…
                </a>
            </div>

            <popstar ng-if='showNewMemberDialog' show-popstar-value="showNewMemberDialog" match-target="true"
                     popstar-offset="false" popstar-max-width="200" popstar-id="newMemberDialog" popstar-max-width="200"
                     target-id="newMemberBtn">
                <!--TODO : should invoke name filter query of user in the DB (currently all board memebers shown) -->
                <member-editor members="activeBoard.members"></member-editor>
            </popstar>
        </div>

        <div class="sidebar-section">
            <card-activity-section context='sidebar' activities="boardActivities">
            </card-activity-section>
        </div>
    </div>
</div>

<div ng-show='!ShowSidebar'>
    <a href="#" class="sidebar-show-btn dark-hover" ng-click="toggleSidebar()">
        <span class="spanned-icon glyphicon glyphicon-arrow-left"></span>
        <span class="text">Show sidebar</span>
    </a>
</div>
